<h1>Create a News Update</h1>

<%= form_for @newsitem, url: newnews_path do |f| %>
	<%= render 'shared/error_messages' %>

	<%= f.label :newsbody, "Enter Your News Update" %><br />
	<%= f.text_area :newsbody, class: "news-input" %><br />
	
	<%= f.submit "Submit News Update" %>
<% end %>
