<h1>Upload a New Picture</h1>

<%= form_for @picture, :html => {:multipart => true} do |f| %>

	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :imagecategory %><br />
		<%= f.select :imagecategory, [['Nature', 'nature'], ['Studio', 'studio']] %>
	</p>		
	<p>
		<%= f.label :description %><br />
		<%= f.text_area :description, class: "news-input" %>
	</p>
	<p>
		<%= f.label :image %><br />
		<%= f.file_field :image %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>