<header>
	<div>
		<%= link_to image_tag("dmwlogo.png", alt: "Dustin Michael Webb"), root_path, id: "logo" %>
		<h1>Dustin<br />Michael<br />Webb</h1>
		<h3>Photography &amp; Design</h3>				
	</div>
</header>

<nav>
	<ul>
		<li><%= link_to "Nature", "/nature" %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Studio", "/studio" %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Portrait", "/portrait" %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Retouch", "/retouch" %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Panoramic", "/panoramic" %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Sculpture", "/sculpture" %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Fractured Panoramic", "/fracturepanoramic" %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Water", "/water" %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Holabird Sports", "/holabirdsports" %></li>
	</ul>
</nav>