<header>
	<div>
		<%= link_to image_tag("dmwlogo.png", alt: "Dustin Michael Webb"), root_path, id: "logo" %>
		<h1>Dustin<br />Michael<br />Webb</h1>
		<h3>Photography &amp; Design</h3>				
	</div>
	

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>
</header>

<nav>
	<ul>
		<li><%= link_to "Nature", "/pictures/category/nature" %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Studio", "/pictures/category/studio" %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Portrait", "/pictures/category/portrait" %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Retouch", "/pictures/category/retouch" %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Panoramic", "/pictures/category/panoramic" %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Sculpture", "/pictures/category/sculpture" %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Fractured Panoramic", "/pictures/category/fracturepanoramic" %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Water", "/pictures/category/water" %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Holabird Sports", "/pictures/category/holabirdsports" %></li>
	</ul>
</nav>