<header>
	<div>
		<%= link_to image_tag("dmwlogo.png", alt: "Dustin Michael Webb"), root_path, id: "logo" %>
		<h1>Dustin<br />Michael<br />Webb</h1>
		<h3>Photography &amp; Design</h3>				
	</div>
</header>

<nav>
	<ul>
		<li><%= link_to "Nature", '#' %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Studio", '#' %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Portrait", '#' %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Retouch", '#' %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Panoramic", '#' %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Sculpture", '#' %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Fractured Panoramic", '#' %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Water", '#' %></li>
		<li>&nbsp;|&nbsp;</li>
		<li><%= link_to "Holabird Sports", '#' %></li>
	</ul>
</nav>